---
git:
  depth: 1
language: node_js
node_js:
  - 0.10
  - 0.11
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm update -g
  - npm install -g karma-cli grunt-cli
script:
  - grunt
  - npm test
  - npm run test:browsers -- --polyfill

after_script:
  - npm run test:browsers -- --saucelabs
  - npm run test:browsers -- --saucelabs --ie8
  - npm run test:browsers:perf
